<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <a href="/" class="navbar-brand">
      <span class="glyphicon glyphicon-home"></span>
      <span id="mess">Vui lòng chọn vật</span>
    </a>
  </div>
</nav>
